<suite name="SwagLabs Automation Suite">
    <listeners>
        <listener class-name="com.framework.core.TestListener" />
    </listeners>
    
    <test name="SwagLabs Full Regression Suite">
        <classes>
            <class name="com.swaglabs.tests.LoginTest" />
            <class name="com.swaglabs.tests.CatalogTest" />
            <class name="com.swaglabs.tests.ShoppingCartTest" />
            <class name="com.swaglabs.tests.CheckoutTest" />
        </classes>
    </test>
</suite>
