<suite name="SwagLabs Automation Suite">
    <listeners>
        <listener class-name="com.framework.core.TestListener" />
    </listeners>
        <test name="TC-01: verifySuccessfulLoginRedirectsToInventory">
            <classes>
                <class name="com.swaglabs.tests.LoginTest">
                    <methods>
                        <include name="verifySuccessfulLoginRedirectsToInventory"/>
                    </methods>
                </class>
            </classes>
        </test>
    <test name="TC-02: verifyLockedOutUserDisplaysErrorMessage">
        <parameter name="login" value="locked_out_user"/>
        <parameter name="password" value="common_password"/>
        <parameter name="expectedErrorMessage" value="Epic sadface: Sorry, this user has been locked out."/>

        <classes>
            <class name="com.swaglabs.tests.LoginTest">
                <methods>
                    <include name="verifyErrorMessageWhenLoginIsNotSuccessful"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-03: verifyInvalidCredentialsDisplayErrorMessage">
        <parameter name="login" value="not_existing_user"/>
        <parameter name="password" value="common_password"/>
        <parameter name="expectedErrorMessage" value="Epic sadface: Username and password do not match any user in this service"/>

        <classes>
            <class name="com.swaglabs.tests.LoginTest">
                <methods>
                    <include name="verifyErrorMessageWhenLoginIsNotSuccessful"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-04: verifyMissingPasswordDisplaysRequiredErrorMessage">
        <parameter name="login" value="standard_user"/>
        <parameter name="password" value="empty_password"/>
        <parameter name="expectedErrorMessage" value="Epic sadface: Password is required"/>

        <classes>
            <class name="com.swaglabs.tests.LoginTest">
                <methods>
                    <include name="verifyErrorMessageWhenLoginIsNotSuccessful"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-05: verifyProductCatalogCountAndBrandingConsistency">
        <classes>
            <class name="com.swaglabs.tests.CatalogTest">
                <methods>
                    <include name="verifyProductCatalogCountAndBrandingConsistency"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-06: verifyHighToLowPriceSortingLogic">
        <classes>
            <class name="com.swaglabs.tests.CatalogTest">
                <methods>
                    <include name="verifyHighToLowPriceSortingLogic"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-12: verifyProductDetailsMatchCatalogInformation">
        <classes>
            <class name="com.swaglabs.tests.CatalogTest">
                <methods>
                    <include name="verifyProductDetailsMatchCatalogInformation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TC-07: verifyHighestPriceItemCanBeAddedToCart">
        <classes>
            <class name="com.swaglabs.tests.ShoppingCartTest">
                <methods>
                    <include name="verifyHighestPriceItemCanBeAddedToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

